image: internal.docker.gda.allianz/bionic-20210222-non-root:maven

stages:
  - one-two
  - three-four
  - five-six
  - seven-eight
  - nine-ten

.build_template: &build_env
  script:
    - set -eu
    - echo $DOCKER_CFG > ~/.dockercfg
    - export COMMIT="${CI_BUILD_REF:0:8}"
    - echo "${BASHRC}" > ~/.bashrc
    - export CONTAINER_TAG="internal.docker.gda.allianz/dork:${COMMIT}"
    - ./build $SPARK_VERSION $HADOOP_VERSION
    - sudo ./build docker --repo=internal.docker.gda.allianz/dorkd --commit=$COMMIT
    - sudo docker tag $CONTAINER_TAG $CONTAINER_TAG-s$SPARK_VERSION-h$HADOOP_VERSION
    - sudo docker push $CONTAINER_TAG-s$SPARK_VERSION-h$HADOOP_VERSION

#
## ONE - TWO
#

build_spark_2.0.2_hadoop_2.7:
  stage: one-two
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.0.2
    - export HADOOP_VERSION=2.7

build_spark_2.1.1_hadoop_2.7:
  stage: one-two
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.1.1
    - export HADOOP_VERSION=2.7
#
## THREE - FOUR
#

build_spark_2.2.0_hadoop_2.7:
  stage: three-four
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.2.0
    - export HADOOP_VERSION=2.7

build_spark_2.2.2_hadoop_2.7:
  stage: three-four
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.2.2
    - export HADOOP_VERSION=2.7
#
## FIVE- SIX
#

build_spark_2.4.3_hadoop_2.7:
  stage: five-six
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.4.3
    - export HADOOP_VERSION=2.7

build_spark_2.4.4_hadoop_2.7:
  stage: five-six
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.4.4
    - export HADOOP_VERSION=2.7
#
## SEVEN - EIGHT
#

build_spark_2.4.5_hadoop_2.7:
  stage: seven-eight
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.4.5
    - export HADOOP_VERSION=2.7

build_spark_2.4.6_hadoop_2.7:
  stage: seven-eight
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.4.6
    - export HADOOP_VERSION=2.7
#
## NINE - TEN
#

build_spark_2.4.7_hadoop_2.7:
  stage: nine-ten
  <<: *build_env
  before_script:
    - export SPARK_VERSION=2.4.7
    - export HADOOP_VERSION=2.7

build_spark_3.0.0_hadoop_3.2:
  stage: nine-ten
  <<: *build_env
  before_script:
    - export SPARK_VERSION=3.0.0
    - export HADOOP_VERSION=3.2

