language: java
sudo: required
services:
  - docker
jdk:
  - oraclejdk8

env:
  matrix:
    - SPARK_VERSION=1.6.2 HADOOP_VERSION=2.6
    - SPARK_VERSION=2.0.2 HADOOP_VERSION=2.7

script:
  - ./build $SPARK_VERSION $HADOOP_VERSION

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  - export COMMIT=${TRAVIS_COMMIT::8}
  - export REPO=frosner/dorkd
  - export NICE_BRANCH_NAME=$(echo $TRAVIS_BRANCH | sed -e 's/\//_/g')
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo "$NICE_BRANCH_NAME" ; fi`
  - docker build -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG-s$SPARK_VERSION-h$HADOOP_VERSION
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER-s$SPARK_VERSION-h$HADOOP_VERSION
  - docker tag $REPO:$COMMIT $REPO:$COMMIT-s$SPARK_VERSION-h$HADOOP_VERSION
  - docker push $REPO
